body {
  background-color: #F3EAED;
padding-left: 10px;
}
hr {
  color: grey;
  width: 10%;
  border-style: none;
  border-top-style: dotted;
border-width: 3px;

}
h1 {
  color: #0293A4;
}
h2 {
  color: #0293A4;
}
img{
  height: 150px;
  width:150px;
  border-style: solid;
 margin-top: 10px;
 margin-right: 10px;
}
table{
  font-size:30px;
}
